<div dir="ltr" class="es-wrapper-color"></div>
<table width="600" cellspacing="0" cellpadding="0" bgcolor="transparent" align="center" esd-img-prev-src class="es-content-body" style="background-color:transparent">
    <tbody>
      <tr>
        <td align="left" esd-img-prev-src class="es-p20t es-p20r es-p20l esd-structure">
          <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td width="321" valign="top" align="center" class="esd-container-frame es-m-p20b">
                  <table width="100%" cellspacing="0" cellpadding="0" bgcolor="transparent" esd-img-prev-src style="background-color:transparent">
                    <tbody>
                      <tr>
                        <td align="center" height="62" class="esd-block-spacer"></td>
                      </tr>
                      <tr>
                        <td bgcolor="transparent" align="center" class="esd-block-text es-p35t es-p5r es-p5l">
                          <h2>
                            Hola
                          </h2>
                        </td>
                      </tr>
                      <tr>
                        <td bgcolor="transparent" align="center" class="esd-block-text es-p10t es-p5b es-p20r es-p20l">
                          <h3>
                            Aluxito69
                          </h3>
                        </td>
                      </tr>
                      <tr>
                        <td bgcolor="transparent" align="center" class="esd-block-text es-p5b es-p10r es-p10l">
                          <p>
                            Haz&nbsp; solicitado un cambio de contraseña, para poder restablecer la contraseña entra en el siguiente link: &nbsp;
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" class="esd-block-button es-p20t es-p30b es-p10r es-p10l">
                          <span class="es-button-border" style="background:#8fc75e">
                            <a href="https://viewstripo.email/" target="_blank" class="es-button" style="padding:10px 20px;background:#8fc75e;mso-border-alt:10px solid #8fc75e">
                              Restablecer contraseña
                            </a>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td bgcolor="transparent" align="center" class="esd-block-text es-p5b es-p10r es-p10l">
                          <p>
                            *Te recordamos que por cada mes tienes un limite de 4 veces el solicitar tu cambio de contraseña y tendrá que trascurrir mínimo 1 semana para solicitar otro cambio.
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" height="45" class="esd-block-spacer"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>